{% extends 'base.html' %}
{% block title %}BZ blog{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-8"><h2> BZ blog </h2></div>
    <div class="col-md-4"><div id="navbar"></div></div>
  </div>
  <div class="container-fluid" id='blog-wrapper'>
    <p>
      <a href='{% url create_blog %}'>Create a Blog.</a>
    </p>
    {% if blogs %}
        {% for blog in blogs %}
          <div class='col-lg-12 jumbotron'>
            <div class='col-lg-10'>
              {% if blog.author %}
                <p><b>{{ blog.author }}</b> wrote:<p>
              {% else %}
                An anonymous person wrote:
              {% endif %}
              <h3>{{ blog.title }}</h3>
              <p><blockquote>{{ blog.body|escape }}</blockquote></p>
              <p><a href='/blog/{{ blog.key.id }}'>View details.</a></p>
            </div>
            <div class='col-lg-2'>
              <img src="{{blog.thumnail}}"></img>
            </div>
          </div>
        {% endfor %}
    {% else %}
        <p>There are no blogs.</p>
    {% endif %}

    </div>
{% endblock %}
