{% extends 'base.html' %}
{% block title %}Welcome to my blog{% endblock %}

{% block content %}
  <div class="container-fluid" id='blog-wrapper'>
    <p>
      <a href='{% url create_blog %}'>Create a Blog.</a>
    </p>
    {% if blogs %}
        {% for blog in blogs %}
          <div class='col-lg-12 jumbotron'>
          {% if blog.author %}
            <p><b>{{ blog.author.username }}</b> wrote:<p>
          {% else %}
            An anonymous person wrote:
          {% endif %}
          <p><blockquote>{{ blog.body|escape }}</blockquote></p>
          <p><a href='/blog/{{ blog.key.id }}'>View details.</a></p>
          </div>
        {% endfor %}
    {% else %}
        <p>There are no blogs.</p>
    {% endif %}

    </div>
{% endblock %}
